*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
a{
    color: rgb(0, 134, 116);
    text-decoration: none;
}
a:hover{
    color: rgb(15, 60, 108);
}

.b-blue{
    background-color: rgb(15, 60, 108);
}
.t-blue{
    color: white;
}
.t-lblue{
    color: rgb(0, 134, 116);
}
h4{
    color: rgb(15, 60, 108);
}
p{
    color: rgb(0, 134, 116);
}
.roundimg{
    border-radius: 50%;
}
.carda{
    background-color: rgb(239, 245, 245);
    padding: 20px;
    margin-bottom: 30px;
}
.p-button{
    padding: 6px 12px;
    border: 1px solid grey;
    border-radius: 50px;
    background-color: white;
    color: grey;
    font-weight: bold;
    font-size: small;
}
.p-container{
    margin: auto;
    width: 50%;
}
.p-button:hover{
    background-color: rgb(239, 245, 245);
    color: rgb(15, 60, 108);
}
.loading{
    text-align: center;
    margin-top: 200px;
}

.main_container
{
    background: url(git.png);
    background-size: cover;
}

.content_container
{
    border-color: rgba(0, 0, 0, 0.1) !important;
	border-radius: 50px !important;
	box-shadow: 20px 1px 50px rgba(0,0,0,0.5) !important;	
	background: rgba(255,255,255,0.1) !important;
	backdrop-filter:blur(5px) !important;
}







